<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>Personal Cloud</title>
    <link rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css'>
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'><link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <html lang="en" ng-app="StarterApp">
      <body layout="column" ng-controller="AppCtrl">
        <nav class="navbar navbar-expand-sm navbar-light navbar-custom">
          <a class="navbar-brand navbar-custom" href="#home">Personal Cloud</a>
          <button class="navbar-toggler" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation"
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
            <ul class="navbar-nav mr-auto navbar-custom">
              <li class="nav-item">
                <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#settings">Settings</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <input  id="input-file-id" class="ng-hide"type="file" file-model="myFile" />
                <label for="input-file-id" class="md-button"> Choose File</label> 
              </li>
              <li class="nav-item">
                <md-button id="fileForUpload" ng-click = "uploadFile()">Upload</md-button>
              </li>
            </ul>
          </div>
        </nav>
      </body>
    </html>
    <div ng-view></div>
    <!-- partial -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.10/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js'></script>
    <script src='https://greggman.com/downloads/examples/colresizable/colResizable-1.5.min.js'></script><script  src="./script.js"></script>
  </body>
</html>
